.expcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.expcont h1{
    font-size: 4rem;
    font-weight: 200;
}

.cards{
    /* display: flex;
    gap: 8rem;
    margin-top:-2rem;
    padding: 3rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.cards p {
    margin-left: 6rem;
    font-size: larger;
}

@media only screen and (max-width: 1200px) {
    .cards{
      display: flex;
      flex-direction: column;
    }
  }